

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    background-color: #E4E3DF;
    padding: 1rem;
    flex-wrap: wrap;
}
header img{
    width: 15rem;
    border-radius: 50%;
}
header h1{
    font-family: "Delius", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 100px;
    
}