@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Delius&family=Dosis:wght@200..800&display=swap');

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    background-color: #E4E3DF;
    padding: 1rem;
}
header img{
    width: 15rem;
    border-radius: 50%;
}
header h1{
    font-family: "Delius", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 100px;
    
}