main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vh;
    padding: 2rem;
    
    background-color: #F5F0ED;
}

#emotionsImage{
    height: 100%;
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    object-fit: contain;
   
}