main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vh;
    padding: 2rem;
    
    background-color: #F5F0ED;
}

#emotionsImage{
    height: 100%;
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    object-fit: contain;
   
}

.card-title{
    font-family: "Delius", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 3vh;
}

.card-text{
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
}